# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
!frontend/landing\ page/dist/
downloads/
eggs/
.eggs/
lib/
!frontend/**/lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
# Environment Variables
.env
.env.local
.env.*.local

# Test Coverage
.coverage
.coverage.*
htmlcov/
coverage.xml
coverage*.xml

# Node
node_modules/
.next/
.turbo/
!**/.vscode/settings.json

#contact feature runtime
/data/
/*.log
*.db